    /* Base styles and CSS reset */
    * {
      margin: 8;
      padding: 0;
      box-sizing: border-box;
    }

    .landing{
        display: flex;
        width: 390px; 
        padding: 80px 0px 131px 0px;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;
    }

    .container-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        background-color: #F6F6F6;
    }

    .sub-header{
        font-family: helvetica neue;
        color: #E4703E;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        align-self: stretch;
    }

    .sub-header p {
        margin: 0px;
    }

    .sub-text-soft{
        font-weight: 300;
    }

    #sabor-logo{
        width: 200px;
        height: fit-content;
    }

    .container-instruction{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .input-container{
        display: flex;
        width: 342px;
        padding: 8px 0px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        gap: 10px;
    }

    #search-button{
        width: 40px;
        height: 40px;
    }