
@media (max-width: 390px){
/* Base styles and CSS reset */
    * {
      margin: 0rem;
      padding: 0rem;
      box-sizing: border-box;
    
    }

    .landing{
        display: flex; 
        width: 25.5rem;
        padding-block: 4rem;
        padding-inline: 1rem;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;
    }

    .container-header{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
        background-color: #F6F6F6;
        margin-bottom: 1rem;
    }

    .sub-header{
        font-family: helvetica neue;
        color: #E4703E;
        font-size: .9rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        align-self: stretch;
    }

    .sub-header p {
        margin: 0px;
    }

    .sub-text-soft{
        font-weight: 300;
    }

    #sabor-logo{
        width: 12rem;
        height: fit-content;
    }

    .container-one{
        width: 390px;
        padding-block: .2rem;
        padding-inline: 1rem;
    }

    .container-input{
        display: flex;
        width: 342px;
        height: 44px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        gap: 10px;
        margin-block: 0;
    }

    #recipe-input{
        display: flex;
        width: 285px;
        height: 40px;
        padding: 8px 8px 8px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 8px;
        border-width: 1px;
    }

    .text-instruction{
        color: var(--color-text-text-filled, #616161);
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-block: .2rem;
        flex-wrap: wrap;
    }

    .container-instruction{
        width: 25rem;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .container-instruction-3 {
        width: 22rem;
        max-width: 342px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        padding-block: 1rem;
        padding-inline: 0rem;
    }

    .button-container{
        width: 44px;
        height: 44px;
    }

    #search-button{
        width: 44px;
        height: 44px;
    }


    .button-main{
        width: 342px;
        min-height: 40px;
        max-height: 65px;
        border-radius: 8px;
        border-width: 1px;
        padding-inline: 16px;
        padding-block: 8px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        background: #f7e0d6;
        color: var(--color-text-text-primary, #1f120c);
        text-align: center;
        font-family: var(--body-font-family, 'Inter-Light', sans-serif);
        font-size: var(--body-font-size, 13px);
        line-height: var(--body-line-height, 20px);
        font-weight: var(--body-font-weight, 300);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #container-instruction-details{
        width: 342px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;
    }
}

/*-----------------RECIPE PAGE-----------------------*/


@media (max-width: 390px) {
    .search-box {
        display: flex;
        width: 24rem;
        width: 390px;
        padding-block: 1.8rem;
        padding-inline: 1.5rem;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        background: var(--color-surface-request, #DADADA);
        margin: 0rem;
    }

    .search-text{
        font-family: var(--body-font-family, 'Inter-Light', sans-serif);
        font-size: var(--body-font-size, 13px);
        line-height: var(--body-line-height, 20px);
        font-weight: var(--body-font-weight, 300);
        position: relative;
    }

    .container-recipe-1{
        padding-inline: 1.5rem;
        display: flex;
        padding-block: 2rem; 
        gap: 1rem;
    }

    .container-recipe-2{
        display: flex;
        flex-direction: column;
        padding-inline: 0rem;
        gap: 1rem;
    }

    .container-recipe-stats{
        border: .09rem solid;
        border-color: #cbcaca;
        border-radius: 1rem;
        width: 16rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    .body-recipe{
        background-color: #F6F6F6;
    }

    .recipe-utilities{
        display:flex;
        flex-direction: column;
        gap: .7rem;
        width: 2.2rem;
        align-content: center;
    }

    #sabor-profile{
        width: 2.2rem;
    }

    .recipe-utilities-icons{
        width: 1.8rem;
        align-items: center;
        padding-left: .3rem;
    }

}
