.landing-v-3-2,
.landing-v-3-2 * {
  box-sizing: border-box;
}
.landing-v-3-2 {
  background: var(--color-surface-background-background-main, #f6f6f6);
  border-style: solid;
  border-color: transparent;
  border-width: 0.5px;
  height: 821px;
  position: relative;
  overflow: hidden;
}
.body {
  background: var(--color-surface-background-background-main, #f6f6f6);
  width: 390px;
  height: 742px;
  position: absolute;
  left: 0px;
  top: 48px;
}
.body2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 24px;
  top: 63px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sabor-logo {
  flex-shrink: 0;
  width: 242.64px;
  height: 56.88px;
  position: relative;
  overflow: visible;
}
.sub-logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sub-text {
  color: #e4703e;
  text-align: center;
  font-family: var(--body-emphasis-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-emphasis-font-size, 14px);
  font-weight: var(--body-emphasis-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.sub-logo {
  color: #e4703e;
  text-align: left;
  font-family: var(--subheader-font-family, "HelveticaNeue-Light", sans-serif);
  font-size: var(--subheader-font-size, 14px);
  font-weight: var(--subheader-font-weight, 300);
  position: relative;
}
.instruction-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.step-1-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1021 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1 {
  color: var(--color-underline-main, #55814e);
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.start-with-a-recipe {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.search-container {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
.search-input {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.request {
  background: #e8e8e8;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-border-border-textbox, #616161);
  border-width: 0.5px;
  padding: 14px 16px 14px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 285px;
  position: relative;
}
.input-label {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: var(--prompt-text-font-family, "Inter-LightItalic", sans-serif);
  font-size: var(--prompt-text-font-size, 14px);
  letter-spacing: var(--prompt-text-letter-spacing, -0.02em);
  font-weight: var(--prompt-text-font-weight, 300);
  font-style: var(--prompt-text-font-style, italic);
  position: relative;
  max-width: 250px;
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-button {
  flex-shrink: 0;
  width: 49px;
  height: 44px;
  position: absolute;
  left: 293px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.rectangle-102 {
  background: var(--color-surface-button-button-primary, #55814e);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.send {
  width: 40.82%;
  height: 44.52%;
  position: absolute;
  right: 28.57%;
  left: 30.61%;
  bottom: 26.54%;
  top: 28.94%;
  overflow: visible;
}
.frame-1019 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.you-can-say-something-like {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-1017 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.main-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: 40px;
  position: relative;
}
.frame-836 {
  background: var(--color-surface-button-button-secondary, #f4c6b2);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-border-border-secondary, #dadada);
  border-width: 1px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
  overflow: hidden;
}
.frame-74 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1008 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 272px;
  position: relative;
}
.korean-tofu-soup-with-a-kick-of-protein {
  color: var(--color-text-text-primary, #1f120c);
  text-align: center;
  font-family: var(--body-font-family, "Inter-Light", sans-serif);
  font-size: var(--body-font-size, 14px);
  line-height: var(--body-line-height, 20px);
  font-weight: var(--body-font-weight, 300);
  position: relative;
  max-width: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-right-alt {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: auto;
  position: relative;
  overflow: visible;
}
.arrow-right-alt2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: auto;
  position: relative;
  overflow: visible;
}
.group-150 {
  flex-shrink: 0;
  width: 342px;
  height: 40px;
  position: static;
}
.main-button2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  position: absolute;
  left: 0px;
  top: 108px;
}
.arrow-right-alt3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: auto;
  position: relative;
  overflow: visible;
}
.step-2-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1080 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
.frame-1079 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._2 {
  color: var(--color-underline-main, #55814e);
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.tweak {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.make-your-recipe-perfect-with-the-ability-to {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-1015 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 102px;
  position: relative;
}
.interact-with-ingredients {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.modify-serving-size {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.visualize-nutrition-facts {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.step-3-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 84px;
  position: relative;
}
._3 {
  color: var(--color-underline-main, #55814e);
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.save {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
.frame-1023 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
.save-your-recipe-and-come-back-to-it-whenever-you-d-like-for-even-more-tweaking {
  color: var(--color-text-text-filled, #616161);
  text-align: left;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
}
.nav-bar {
  background: var(--color-surface-background-background-menu, #e4703e);
  width: 390px;
  height: 40px;
  position: sticky;
  left: 0px;
  top: 48px;
}
.menu {
  width: 8.46%;
  height: 53.33%;
  position: absolute;
  right: 87.44%;
  left: 4.1%;
  bottom: 25%;
  top: 21.67%;
  overflow: visible;
}
.group-89 {
  width: 100%;
  height: 3.33%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 96.67%;
  overflow: visible;
}
.status-bar {
  background: var(--flowkit-white, #ffffff);
  width: 390px;
  height: 47px;
  position: sticky;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.notch {
  height: auto;
  position: absolute;
  left: calc(50% - 82px);
  top: -2px;
  overflow: visible;
}
.left-side {
  position: absolute;
  inset: 0;
}
.status-bar-time {
  border-radius: 24px;
  width: 54px;
  height: 21px;
  position: absolute;
  left: calc(50% - 168px);
  top: 14px;
}
._9-41 {
  color: #010101;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 54px;
  height: 20px;
}
.right-side {
  height: auto;
  position: absolute;
  left: 286px;
  top: 19px;
  overflow: visible;
}
