/* ---------- PRODUCT GALLERY ------------------------------------------------------ */

.body{
  padding-bottom: 20%;
}

.headers{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

h3{
  font-size: 14px;
  text-transform: uppercase;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline: auto;
}

.page-on,
h3{
  background-color: yellow;
  font-weight: 600;
}

.page-off,
h3{
  background-color: #fff;
  font-weight: normal;
}

h5{
  font-size: 18px;
  font-weight: normal;
}

p{
  font-size: 14px;
  padding-block: 0px;
  margin-block: 4px;
}

.button-1{
  background-color: yellow;
  border-style: solid;
  border-width: 2px;
  padding-block: 4px;
  padding-inline: 12px;
}

/* ---------- PRODUCT GALLERY ------------------------------------------------------ */

.all-products{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  align-items: center;
  margin-bottom: 20%;
}

.product-thumbnail {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-name{
  text-decoration: underline;
  margin-block: 0;
}

.product-price{
  margin-block: 0px;
}

.product-box{
  margin: 8px;
}

/* ---------- PRODUCT DETAIL ------------------------------------------------------ */
.product-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}

.prod-detail-image{
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-detail-description{
  display: flex;
  max-width: 160px;
  margin-block: 16px;
  margin-inline: auto;
}

.product-detail-customization{
  justify-content: center;
}

.custom-block{
  justify-content: flex-start;
  max-width: 160px;
  margin: auto;
  padding-block: 8px;
}

.custom-title{
  margin-block: 4px;
}

#total-container{
  display: flex;
  gap: 20px;
  padding: 32px;
  margin: auto;
  align-items: center;
}

a:hover {
  background-color: yellow;
  cursor: pointer;
}

.custom-select,
#glazing{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.custom-select,
#size{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* ---------- CART ------------------------------------------------------ */
.shopping-cart{
  display: flex;
  flex-direction: column;
  padding-bottom: 20%;
}

.cart-thumbnail{
  width: 200px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.cart-item-container{
  margin: auto;
  padding-bottom: 32px;
  align-items: center;
}

.checkout-total-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 16px;
}

.cart-description{
  text-align: center;
}

.cart-price{
  text-align: center;
}

.cart-remove{
  font-size: 12px;
  text-align: center;
  padding-bottom: 8px;
}