.headers{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

h3{
  font-size: 14px;
  text-transform: uppercase;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline: auto;
}

.page-on,
h3{
  background-color: yellow;
}

.page-off,
h3{
  background-color: #fff;
}

h5{
  font-size: 18px;
  font-weight: normal;
}

p{
  font-size: 14px;
}

.button-1{
  background-color: yellow;
  border-style: solid;
  border-width: 2px;
}

/* ---------- PRODUCT GALLERY ------------------------------------------------------ */

.all-products{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
}

.product-thumbnail {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-name{
  text-decoration: underline;
  margin-block: 0;
}

.product-price{
  margin-block: 0px;
}

/* ---------- PRODUCT DETAIL ------------------------------------------------------ */
.product-detail{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
}

.prod-detail-image{
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-detail-description{
  display: flex;
  max-width: 160px;
  margin-block: 16px;
  margin-inline: auto;
}

.product-detail-customization{
  justify-content: center;
}

.custom-block{
  justify-content: flex-start;
  max-width: 160px;
  margin: auto;
  padding-block: 8px;
}

.custom-title{
  margin-block: 4px;
}

#total-container{
  display: flex;
  gap: 20px;
  padding: 40px;
  margin: auto;
}

a:hover {
  background-color: yellow;
}

.custom-select,
#glazing{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.custom-select,
#size{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

