/* ---------- MASTER CSS ------------------------------------------------------ */

.logo:hover {
  background-color: initial;
}

.body {
  padding-bottom: 40%;
}

.headers{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  font-size: 20px;
  text-transform: uppercase;
  margin-block-start: 32px;
  margin-block-end: 8px;
  margin-inline: auto;
}

.page-on,
h3{
  background-color: yellow;
  font-weight: 600;
}

.page-off,
h3{
  background-color: #fff;
  font-weight: normal;
}

h5{
  font-size: 20px;
  font-weight: normal;
  margin-inline: auto;
}

p{
  font-size: 14px;
  padding-block: 0px;
  margin-block: 4px;
}

.button-1{
  background-color: yellow;
  border-style: solid;
  border-width: 2px;
  padding-block: 4px;
  padding-inline: 12px;
}

.logo{
  width: 400px;
}

/* ---------- PRODUCT GALLERY ------------------------------------------------------ */

.all-products{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  align-items: center;
  margin-bottom: 30%;
}

.product-thumbnail {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-name{
  text-decoration: underline;
  margin-block: 0;
}

.product-price{
  margin-block: 0px;
}

.product-box{
  margin: 8px;
}

/* ---------- PRODUCT DETAIL ------------------------------------------------------ */
.product-detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
}

.prod-detail-image{
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.product-detail-description{
  display: flex;
  max-width: 160px;
  margin-block: 16px;
  margin-inline: auto;
}

.product-detail-customization{
  justify-content: center;
}

.custom-block{
  justify-content: flex-start;
  max-width: 160px;
  margin: auto;
  padding-block: 8px;
}

.custom-title{
  margin-block: 4px;
}

#total-container{
  display: flex;
  gap: 20px;
  padding: 32px;
  margin: auto;
  align-items: center;
}

a.product-box:hover {
  background-color: yellow;
  cursor:pointer;
}

a.product-box:hover  .product-name {
  font-weight: 600;
}

.custom-select,
#glazing{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.custom-select,
#size{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* ---------- CART ------------------------------------------------------ */
.shopping-cart{
  display: flex;
  flex-direction: column;
  padding-top: 5;
  margin-bottom: 30%;
}

.cart-thumbnail{
  width: 200px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.cart-item-container{
  margin: auto;
  padding-block: 5%;
  align-items: center;
}

.checkout-total-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 16px;
}

.cart-description{
  text-align: center;
}

.cart-price{
  text-align: center;
}

.cart-remove{
  font-size: 12px;
  text-align: center;
  padding-bottom: 8px;
}